{% extends 'wise_saying/base.html' %}
{% block content %}
    <script type="text/javascript">
    $(document).ready(function() {
        is_like = '{{is_like|yesno:"true,false"}}'
        is_like = (is_like == 'true')

        $("#like").on('click', function() {
            jQuery.ajax({
                type: "POST",
                data: {saying_id : '{{saying_id}}',  // 'like' url 호출시 데이터로 saying_id, is_like를 건네줌
                is_like: is_like,
                csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                url: "/like",
                success: function(data) {
                    console.log(is_like)
                    if (is_like) {
                        $('#like').html('좋아요')
                        is_like = false
                    }
                    else {
                        $('#like').html('싫어요')
                        is_like = true
                    }
                },
            });
            return false;
        });
    });
    </script>
    
    <br>
    <p>작성자 : {{ writer_name }}</p>
    <div class="postit">
        <p>{{ contents }}</p>
    </div>

    {% if is_like %}
        <center><button id='like' class='btn btn-default'>좋아요 취소</button></center>
    {% else %}
        <center><button id='like' class='btn btn-default'>좋아요</button></center>
    {% endif %}
    <h5 align='center'><a href='/post/random'>다음</a></h5>
{% endblock %}